<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="theme-color" content="{{ theme_color }}"/>
    <meta name="twitter:title" content="{{ twitter_title }}"/>
    <meta property="og:site_name" content="{{ og_site_name }}"/>
    <meta property="og:url" content="{{ og_url }}"/>
    <meta property="og:description" content="{{ og_description }}"/>

    {% if image_url is defined %}
    <meta property="og:image" content="{{ image_url }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ image_url }}"/>
    {% endif %}

    {% if video_url is defined %}
    <meta property="og:video" content="{{ video_url }}"/>
    <meta property="og:video:secure_url" content="{{ video_url }}"/>
    <meta property="og:video:type" content="video/mp4"/>

    <meta name="twitter:card" content="player"/>
    <meta name="twitter:player:stream" content="{{ video_url }}"/>
    <meta name="twitter:player:stream:content_type" content="video/mp4"/>
    {% endif %}
</head>
<body>
    Redirecting you to the post in a moment. 
    <a href="{{ redirect_url }}">Or click here.</a>
</body>
</html>
